@using Blog.Models;
@model IEnumerable<BlogPost>
@*@model IEnumerable<Blog.Models.BlogPost>*@

<!-- Main Content -->
    <div class="container-fluid">
        <div class="row" id="homePageRow">

            @foreach (var post in Model.Take(3))
            {
                <div class="col text-center homePageColumns">
                    <div class="post-preview" id="homePagePostsWrapper">
                        
                        <a href=@Url.Action("Details", "BlogPosts", new { slug = post.Slug})>
                            <img class="img-responsive" id="blogIndexImage" src="@post.MediaPath" alt="photo" />
                        </a> 
                        
                            <h2>                                
                                @post.Title
                            </h2>
                        
                            <h3>
                                @post.Abstract
                            </h3>                        
                        <p class="post-meta">
                            Posted by Richard                            
                            on @post.Created.ToString("MMM dd, yyyy")
                        </p>
                    </div>
                </div>
            }

            <hr>
            <!-- Pager -->
        </div>
        <button class="btn btn-primary" id="homePageButton">
            @Html.ActionLink("All Posts", "Index", "BlogPosts") &rarr;
        </button>
    </div>