@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Blog.Models.BlogPost>

@{

}
<div class="container-fluid" id="blogIndexPageTitleAndSearch">
    <div class="row">
        <h2 class="text-uppercase">All Posts</h2>
        @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form", id = "blogPostsIndexForm" }))
        {
            <div class="controls controls-row search-row" id="blogIndexSearchInputAndButtonRow">
                <input id="searchStr" name="searchStr" class="input-block-level text-right" type="text" placeholder="Find...." maxlength="20" />
                <button id="searchStr" name="searchStr" class="btn btn-success" type="submit">
                    Search
                </button>
            </div>
        }
    </div>
</div>


<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary", id = "createButton" })
    }
</p>

<section id="myViewAllBlogPostSection">
    <div class="container-fluid text-center myViewAllBlogPostGrid">
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <div class="myViewAllBlogPostSubGrid">

                        <div id="myViewAllBlogPostSubGridImage">
                            @if (item.MediaPath != null)
                            {
                                <img class="img-responsive" id="blogIndexImage" src="@item.MediaPath" alt="photo" />
                            }
                        </div>

                        <div id="myViewAllBlogPostSubGridTitle">
                            @Html.DisplayFor(modelItem => item.Title)
                        </div>

                        <div id="myViewAllBlogPostSubGridBody">
                            @Html.Raw(item.Body.Substring(0, Math.Min(item.Body.Length, 100)))

                            @Html.ActionLink("...read more", "Details", new { slug = item.Slug }, new { style = "color:blue; text-decoration:none" })

                            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                            {
                                <div>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </div>
                            }
                        </div>

                        <p id="myViewAllBlogPostSubGridCreated" class="post-meta">
                            posted by Richard Knott on @item.Created.ToString("MM/dd/yyyy")
                        </p>

                    </div>

                </tr>

            }
        </table>
    </div>
</section>

<div class="container">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
</div>
